// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$titlecolor: hsl(234, 12%, 34%);
$h1color: hsl(229, 6%, 66%);
$paracolor: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Topography
$family: "Poppins", sans-serif;
$size: 15px;

// break point
$small: '(min-width: 768px)';